@media screen and (min-width: 401px){
	
	button{
		float: left;
		display: block;
	}

}

@media screen and (max-width: 400px){

	button{
		float: none;
		display: block;
		margin: 0 auto;
		padding: 1rem;
		width: 100%;
	}

	option{
		font-size: 125%;

	}
}

.prio1{
	color: red;
}

select{
	display: block;
}