<form action="Bestellung.php" name="inputCart" id="inputPizza" method=POST onsubmit="selectedAll()">
    
       <div class="eingabe col-lg-6 col-sm-12">
            <p><b>Bitte Daten eingeben:</b></p>
            <input type="text" name="vorname" placeholder="Vorname" id="vorname" value="" oninput="checkorder()"/>
            <input type="text" name="nachname" placeholder="Nachname" id="nachname" value="" oninput="checkorder()"/>
            <input type="text" name="strasse" placeholder="Straße und Hausnummer" id="strasse" value="" oninput="checkorder()"/>
            <input type="text" name="ort" placeholder="Ort" id="ort" value="" oninput="checkorder()"/>
        </div>

        <div class="warenkorb col-lg-6 col-sm-12">
            <p><b>Warenkorb:</b></p>
            <select class="bestellung  col-lg-12" id="bestellung" name="bestellung[]" size="5" form="inputPizza" multiple>

            </select>
            <textarea class="preis  col-lg-12" id="preis" name="preis" rows="1" readonly="">Gesamtpreis: </textarea>

        </div>
    <div class="buttons col-lg-12">
            <button type="button" id="allesloeschen" onclick="deleteall()">Alles Löschen</button>
            <button type="button" id="auswahlloeschen" onclick="deletechoice()">Auswahl Löschen</button>
            <button type="submit" id="bestellen" onclick="checkorder(); order()" disabled = "false">Bestellen</button>
        </div>

</form>