@media only screen and (max-width: 600px) {
    
        .nav {
            width: 100% !important;
        }

        .flexcontainer {
            width: 100% !important;
         
        }
    }


    body{
            background-image: url(Bilder/background.jpg);
            background-size: auto;
        }

    .pizzaservice {
        width: 100%;
        height: 10%;
        text-align: center;
        color: aqua;
        margin: 5px;
    }

            .nav {
            background-color: rgba(220, 220, 220, 0.8);
            width: 80%;
            height: 20%;
            margin: 15px auto 15px auto;
            padding: 5px;
        }

        .nav a {
            text-decoration: none;
            font-family: 'Indie Flower', cursive;
            font-size: 130%;
            color:chocolate;
            text-align: center;
        }

        a:hover {
            color: gainsboro;

        }


           .flexcontainer {    
            display: flex;
            flex-direction: row;
            flex-wrap: wrap; 
            width: 80%;
            background-color: rgba(220, 220, 220, 0.6);
            margin: auto;
                  font-family: 'Indie Flower', cursive;
                font-size: 110%;
        } 

            .auswahl {

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;    
            margin-top: 5px;
                margin-bottom: 15px;
        }


            .pizza {
            text-align: center;
            align-items: center;
                margin-left: auto;
                margin-right: auto;

        }

            .pizza p {
                font-family: 'Indie Flower', cursive;
                font-size: 130%;
                margin-top: 10px;

        }

            .order {
                align-items: center;
            }

            .eingabe {
                align-items: center;
                font-family: 'Indie Flower', cursive;
                font-size: 130%;
              
            }
            
            .eingabe b{
            font-family: 'Indie Flower', cursive;
                font-size: 130%;
    
            }

            .warenkorb {
  
            }

            .warenkorb b{
                font-family: 'Indie Flower', cursive;
                font-size: 130%;
            }

    

        .buttons {
            margin: auto;
            text-align: center;
            margin-bottom: 10px;
            font-family: 'Indie Flower', cursive;
            font-size: 130%;
        }

        .buttons button {
        margin: 10px 30px 5px 30px;
        }

        .buttons button:hover {
            font-size: 1.02em;
            font-style: oblique;
        }

        .eingabe p {
        font-size: 16px;
        font-family: 'Indie Flower', cursive;
        }

        .eingabe input {
        width: 90%;
        margin: 0px 0px 15px 0px;
        }

.bestellung {
    height: 55%;
    margin-bottom: 15px;
}

        .warenkorb p {
        font-size: 16px;
        font-family: 'Indie Flower', cursive;
        }

        .kundenansicht{
        
        font-family: 'Indie Flower', cursive;
        font-size: 130%;
        margin-left: 100px;
    
        }
        
        .kundenansicht span{
            margin-left: 30px;
        }

        .preis{
        font-family: 'Indie Flower', cursive;
        font-size: 130%;
        
        }

        .kundenansicht2{
        font-family: 'Indie Flower', cursive;
        font-size: 130%;
        margin-top: 2%;
    
        }

        .kundenansicht2 span{
            margin-left: 50px;
        }

        .backeransicht{
            margin-left: 100px;
            font-family: 'Indie Flower', cursive;
            font-size: 130%;
        }

        .backeransicht2{
            font-family: 'Indie Flower', cursive;
            font-size: 130%;
    
        }

        .backeransicht span{
            margin-left: 30px;
        }

        .backeransicht2 span{
            margin-left: 60px;
        }

        .backeransicht3{
            margin-left: 900px;
            font-family: 'Indie Flower', cursive;
            font-size: 130%;
    
        }

        .backeransicht3 span{
            margin-left: 70px;
        }

        .backeransicht4{
            font-family: 'Indie Flower', cursive;
            font-size: 130%;
    
        }

        .backeransicht4 span{
            margin-left: 70px;
        }

        .fahreransicht{
            margin-left: 100px;
            font-family: 'Indie Flower', cursive;
            font-size: 130%;
    
        }

        .fahreransicht span{
            margin-left: 70px;
        }

        .fahreransicht2{
            font-family: 'Indie Flower', cursive;
            font-size: 130%;
    
        }

        .fahreransicht2 span{
            margin-left: 120px;
        }
