#frage {
    font-family: sans-serif;
    font-size: 125%;
}

#antworten button {
    padding: 1em;
    margin: 1em;
}

.correct {
    background-color: green;
}

.wrong {
    background-color: red;
}

.selected {
    border: 0.33rem yellow solid;
}

@media screen and (max-width: 400px) {
    #antworten {
        display: flex;
        flex-direction: column;
    }
}